@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #f4f4f5;
  --foreground: #18181b;
  --accent: #2563eb;
  --muted: #d4d4d8;
  --border: #e4e4e7;
}

html[data-theme="dark"] {
  --background: #18181b;
  --foreground: #f4f4f5;
  --accent: #3b82f6;
  --muted: #3f3f46;
  --border: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-sans text-foreground selection:bg-accent/75 selection:text-background;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  a {
    @apply underline inline-block transition-transform duration-200 ease-in-out hover:scale-105;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}
